@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Inter Tight', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: linear-gradient(
    0deg,#6290c8,#376996,#1f487e,#1d3461);
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

main {
  color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* tr {
  border-radius: 10px;
  background-color: #000;
  color: white;
} */

/* tbody tr:nth-child(odd) {
  background-color: #333333;
} */

/* .nav {
  display: flex;
  justify-content: flex-start;
  padding: 1em 2em;
}

.nav-item {
  padding: 0 0.5rem;
  list-style: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.active {
  font-weight: 700;
} */
.buttons
{
  width: 32rem;
}
.custBtn{
  cursor:pointer;
}
.custBtn:hover{
  background-color: rgba(182, 29, 29, 0.87);
  color: white;
}
.table{
  min-width: 80%;
  /* max-width: 80%; */
}
.nodata{
  text-align: center;
  font-size: 3rem;
}
.nodata img{
  border-radius: 10px;
}

/** periods animation**/
.dot1{
  position: relative;
  animation: jump 1s ease-in-out 1.2s infinite; 
}
.dot2{
  position: relative;
  animation: jump 1s ease-in-out 1.4s infinite; 

}
.dot3{
  position: relative;
  animation: jump 1s ease-in-out 1.6s infinite ; 

}
.dot4{
  position: relative;
  animation: jump 1s ease-in-out 1.8s infinite; 
}
@keyframes jump {
  0%{bottom:0px}
  50%{bottom:15px}
  100%{bottom:0px}
}
